<br>
<div class="d-flex justify-content-center">
<h1>Editing Book</h1>
</div>
<br>
<div class="d-flex justify-content-center">
<%= link_to 'Back', books_path, :method => 'get', :class => "btn btn-outline-primary" %>
</div>

<%= render 'form', book: @book %>


